html , body {
    width: 99%;
    background-color: rgb(250, 250, 250);
}

.todo {
    display: flex;
    margin: 0%;
    padding: 0%;
}

.imgnazi {
    text-align: left;
    height: 850px;
    width: 600px;
    margin-left: 29%;
    margin-top: 5.5%;
}

.form {
    margin: 0;
    width: 18%;
    height: 40vh;
    background-color: white;
    margin-top: 6.5%;
    margin-left: 1.7%;
    border: 0.5px solid rgb(216, 216, 216);
}

.img {
    margin-left: 21%;
    margin-top: 12%;
}

.inputs {
    display: grid;
}

.inputs input {
    width: 72%;
    margin: auto;
    height: 2rem;
    border: 0.5px solid rgb(206, 206, 206);
    background-color: rgb(250, 248, 248);
    border-radius: 4%;
}

.inputs input:focus{
    border: 1px solid rgb(160, 160, 160) !important;
    outline: none;
}

.boton1 {
    width: 74%;
    height: 2rem;
    margin: auto;
    margin-top: 4% ;
    background-color: #0095f6;
    border: none;
    border-radius: 0.5em;
    color: white;
    font-weight: 600;
    transition: 0.5s;
}

.boton2 {
    width: 74%;
    height: 2rem;
    margin: auto;
    margin-top: 4% ;
    background-color: #0074cc;
    border: none;
    border-radius: 0.5em;
    color: white;
    font-weight: 600;
    transition: 0.5s;
    cursor: pointer;
}

.inputs button:hover {
    background-color: #0074cc;
    cursor: pointer;
}

.face {
    margin-top: 15%;
}

.face h5 {
    color: #0057a3;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    cursor: pointer;
}

.face p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(78, 78, 78);
    font-size: 0.8rem;
    cursor: pointer;
}

.vic {
    width: 100%;
    margin-top: 10%;
    height: 60px;
    background-color: white;
    border: 0.5px solid rgb(216, 216, 216);
    display: flex;
    align-content: space-evenly;
}

.vic .p1 {
    margin-left: 20%;
    margin-top: 7%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}

.vic .p2 {
    position: absolute;
    margin-top: 1.3%;
    color:#47afff;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    margin-left: 0.2%;
}

.get p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

/* FOOTER */

.footer {
    display: flex;
    margin-top: 7%;
    margin-left: 22%; 
}

.footer div a {
    text-decoration: none;
    margin-left: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: rgb(177, 175, 175);
}

.finalf {
    display: flex;
    margin-left: 42%;
    margin-top: 1%;
}

.finalf div a {
    margin-left: 1rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: rgb(177, 175, 175);
}



@media screen and (max-width: 1920px) {

    .imgnazi{
        margin-left: 26%; 
        margin-top: 8%;
        
    }
    .form {
        /* width: 25%; */
        width: 350px;
        margin-top: 10%; 
        height: 380px;
        
    }

}

@media screen and (max-width: 1600px) {

    .imgnazi{
        margin-left: 26%; 
        margin-top: 8%;
        
    }
    .form {
        /* width: 25%; */
        width: 350px;
        margin-top: 10%; 
        height: 380px;
        
    }

    .vic .p2 {
        margin-top: 1.6%;
    }

}

@media screen and (max-width: 1400px) {
    
    .imgnazi{
        margin-left: 20.8%; 
        margin-top: 8%;
        
    }
    .form {
        /* width: 25%; */
        width: 350px;
        margin-top: 10%; 
        height: 380px;
        
    }

    .footer {
        margin-left: 11%;
    }

    .vic .p2 {
        margin-top: 1.8%;
    }

}

@media screen and (max-width: 1200px) {
    
    .imgnazi{
        margin-left: 16.8%; 
        margin-top: 8%;
        
    }
    .form {
        /* width: 25%; */
        width: 350px;
        margin-top: 10%; 
        height: 380px;
        
    }

    .footer {
        margin-left: 5% ;
    }

    .vic .p2 {
        margin-top: 2.1%;
    }

}

@media screen and (max-width: 1100px) {
    
    .imgnazi{
        margin-left: 14.8%; 
        margin-top: 8%;
        
    }
    .form {
        /* width: 25%; */
        width: 350px;
        margin-top: 10%; 
        height: 380px;
        
    }

    .footer {
        margin-left: 0%;
        display: flex;
    }

    .vic .p2 {
        margin-top: 2.3%;
    }

}

@media screen and (max-width: 1000px) {
    
    .imgnazi{
        margin-left: 10.8%; 
        margin-top: 8%;
        
    }
    .form {
        /* width: 25%; */
        width: 350px;
        margin-top: 10%; 
        height: 380px;
        
    }

    .vic .p2 {
        margin-top: 2.5%;
    }

}

@media screen and (max-width: 930px) {
    
    .imgnazi{
        margin-left: 2%; 
        margin-top: 8%;
        
    }
    .form {
        /* width: 25%; */
        width: 350px;
        margin-top: 10%; 
        height: 380px;
        
    }

    .vic .p2 {
        margin-top: 2.6%;
    }

}

@media screen and (max-width: 800px) {
    
    .imgnazi{
        display: none;
        
    }
    .form {
        /* width: 25%; */
        width: 350px;
        height: 380px;
        margin: 10% auto; 
    }

    .footer {
        display: none;
        
    }

    .finalf {
        display: none;
    }

    .vic .p2 {
        margin-top: 3.1%;
    }

}

@media screen and (max-width: 670px) {
     .vic .p2 {
        margin-top: 4%;
     }
}

@media screen and (max-width: 450px) {
    
    .imgnazi{
        display: none;
        
    }
    .form {
        width: 100%; 
        height: 380px;
        margin: 0%;
        padding: 0%;
        border: none;
    }

    .vic {
        width: 100%;
        border: none;
        margin-top: 0%;
    }

    .vic .p1 {
        margin-left: 20%;
    }

    .vic .p2 {
        margin-top: 7%;
    }
}





@media screen and (max-width: 390px) {
    
    .imgnazi{
        display: none;
        
    }
    .form {
        width: 100%; 
        height: 380px;
        margin: 0%;
        padding: 0%;
        border: none;
    }

    .vic {
        width: 100%;
        border: none;
        margin-top: 0%;
    }

    .vic .p1 {
        margin-left: 18%;
    }

    .vic .p2 {
        margin-top: 6.3%;
    }
}

@media screen and (max-width: 250px) {
    .img {
        margin-left: 0.1%;
    }

    .vic .p1 {
        margin-left: 8%;
    }
}